<main>
    <div class="container">
        <div class="row d-flex flex-column align-center">
            <div class="col">
                <h1>Bienvenido {{{nombre}}}!</h1>
            </div>
            <br>
            <div class="col">
                <h2>Un poco sobre mi... </h2>
            </div>
            <br>
            <br>
            <div class="col about">
                <p class="">Soy {{{n}}} y tengo {{{edad}}} años. Trabajo hace mas de 6 años en el area de IT dando soporte a diferentes aplicaciones. Soy profesor de inglés recibido y estudiante de la carrera Ingenieria en Sistemas de Información de la UTN Regional Buenos Aires. Hace variós años estudio por mi cuenta herramientas, metodologias, paradigmas y tecnologias relacionadas al desarrollo de software por lo que ya cuento con experiencia en varios lenguajes como C++, Php, Java, Python, Javascript y SQL. Así como tambien he realizado varios proyectos usando controladores de versión como Git y Mercurial, haciendo uso de frameworks varios de cada lenguaje como Flask y Django para Python, SpringBoot para Java, Laravel para PHP. Mi objetivo profesional apunta a convertirme en un desarrollador Fullstack orientado a PHP y React, pero con conocimientos en varios frameworks tales como Express.JS, React Native y Angular. </p>
            </div>
            <br>
            <br>
            <div class="col">
                <form action="/logout" method="get">
                    <button class="btn btn-primary" type="submit">SALIR</button>
                </form>
            </div>
        </div>
    </div>
</main>