<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Agregar una nueva experiencia</h4>
            <form action="/experience/add" method="post">
                <div class="mb-3 row">
                    <input type="text" class="form-control"
                        placeholder="Titulo" name="title">
                </div>
                <div class="mb-3 row">
                    <textarea type="text" class="form-control" placeholder="Descripcion" name="description"></textarea>
                </div>

                <div class="mb-3 row">
                    <label for="type">Fecha de Inicio:</label>
                    <input type="date" id="start_date" name="start_date" value="2023-01-01" class="form-control" >
                </div>

                <div class="mb-3 row">
                    <label for="type">Fecha de Fin:</label>
                    <input type="date" id="end_date" name="end_date" value="2023-01-01" class="form-control" >
                </div>

                <button type="submit" class="btn btn-primary">Save</button>

            </form>
        </div>
    </div>

</div>

{{#if error}}
    <h5>{{message}}</h5>
{{/if}}