body {
    background-color: antiquewhite;
}
#titulo {
    margin-left: 90px;
}

img {
    border: 5px black solid;
}

section {
    background-color: whitesmoke;
    border: 5px #000000 dashed;
    padding-left: 50px;
}

li {
    color: darkblue;
}
