body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.social {
    box-sizing: border-box;
}
.social ul {
    padding-left: 0;
}
.social ul li{
    display: inline-block;
    padding-right: 6px;
}


header {
    display: flex;
    justify-content: center;
    text-align: center;
}

header img{
    max-width: 250px;
    max-height: 250px;
}

.ctr {
    max-width: 100%;
    margin: 1rem 1rem;
}

.github-link {
    text-align: center;
}

.github-link a {
    font-size: 2rem;
    text-decoration: none;
}

.social {
    font-size: 1.5rem;
    text-decoration: none;
}

.accordion-body dl {
    list-style-type: none;
}